# SPDX-FileCopyrightText: 2020 Zach Daniel
#
# SPDX-License-Identifier: MIT

name: CI
on:
  push:
    tags:
      - "v*"
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  ash-ci:
    strategy:
      fail-fast: false
      matrix:
        postgres-version: ["14", "15", "16"]
    uses: ash-project/ash/.github/workflows/ash-ci.yml@main
    with:
      postgres: true
      postgres-version: ${{ matrix.postgres-version }}
      publish-docs: ${{ matrix.postgres-version == '16' }}
      release: ${{ matrix.postgres-version == '16' }}
      igniter-upgrade: ${{matrix.postgres-version == '16'}}
      reuse: true
    secrets:
      hex_api_key: ${{ secrets.HEX_API_KEY }}
